## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/Ruth/OneDrive/Desktop/Class_Work/Module_6/HW6_Submission_Python_APIs/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dargaville,NZ,-35.9333,173.8833,64.72,88,84,4.03,broken clouds
1,1,Vaini,TO,-21.2000,-175.2000,75.36,100,40,3.44,scattered clouds
2,2,Brigantine,US,39.4101,-74.3646,33.15,74,75,28.77,broken clouds
3,3,Busselton,AU,-33.6500,115.3333,65.05,72,0,8.28,clear sky
4,4,Mahebourg,MU,-20.4081,57.7000,78.26,94,75,3.44,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,75.36,100,40,3.44,scattered clouds
4,4,Mahebourg,MU,-20.4081,57.7000,78.26,94,75,3.44,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,80.53,88,20,0.00,few clouds
14,14,Butaritari,KI,3.0707,172.7902,80.78,79,100,16.62,moderate rain
18,18,Rikitea,PF,-23.1203,-134.9692,77.49,76,100,16.75,light rain
25,25,Bluefields,NI,12.0137,-83.7635,84.27,70,75,6.91,broken clouds
28,28,Rawson,AR,-43.3002,-65.1023,88.75,29,1,3.51,clear sky
31,31,Bambous Virieux,MU,-20.3428,57.7575,78.22,94,75,3.44,broken clouds
32,32,Atuona,PF,-9.8000,-139.0333,78.04,70,23,16.46,few clouds
33,33,Cape Town,ZA,-33.9258,18.4232,80.28,59,0,1.99,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                204
City                   204
Country                203
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [6]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,75.36,100,40,3.44,scattered clouds
4,4,Mahebourg,MU,-20.4081,57.7000,78.26,94,75,3.44,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,80.53,88,20,0.00,few clouds
14,14,Butaritari,KI,3.0707,172.7902,80.78,79,100,16.62,moderate rain
18,18,Rikitea,PF,-23.1203,-134.9692,77.49,76,100,16.75,light rain
...,...,...,...,...,...,...,...,...,...,...
694,694,Labuhan,ID,-6.8844,112.2051,77.29,83,98,8.55,overcast clouds
696,696,Lusambo,CD,-4.9667,23.4500,75.31,83,100,2.51,light rain
700,700,Praia,CV,14.9215,-23.5087,75.74,64,75,20.71,broken clouds
701,701,Tamandare,BR,-8.7597,-35.1047,83.05,69,26,12.10,scattered clouds
702,702,Miramar,US,25.9873,-80.2323,84.97,67,75,3.00,broken clouds

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,75.36,100,40,3.44,scattered clouds
4,4,Mahebourg,MU,-20.4081,57.7000,78.26,94,75,3.44,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,80.53,88,20,0.00,few clouds
14,14,Butaritari,KI,3.0707,172.7902,80.78,79,100,16.62,moderate rain
18,18,Rikitea,PF,-23.1203,-134.9692,77.49,76,100,16.75,light rain
...,...,...,...,...,...,...,...,...,...,...
694,694,Labuhan,ID,-6.8844,112.2051,77.29,83,98,8.55,overcast clouds
696,696,Lusambo,CD,-4.9667,23.4500,75.31,83,100,2.51,light rain
700,700,Praia,CV,14.9215,-23.5087,75.74,64,75,20.71,broken clouds
701,701,Tamandare,BR,-8.7597,-35.1047,83.05,69,26,12.10,scattered clouds
702,702,Miramar,US,25.9873,-80.2323,84.97,67,75,3.00,broken clouds

In [9]:
clean_df.count()

City_ID                203
City                   203
Country                203
Lat                    203
Lng                    203
Max Temp               203
Humidity               203
Cloudiness             203
Wind Speed             203
Current Description    203
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
4,Mahebourg,MU,78.26,broken clouds,-20.4081,57.7000,
10,Georgetown,MY,80.53,few clouds,5.4112,100.3354,
14,Butaritari,KI,80.78,moderate rain,3.0707,172.7902,
18,Rikitea,PF,77.49,light rain,-23.1203,-134.9692,
25,Bluefields,NI,84.27,broken clouds,12.0137,-83.7635,
28,Rawson,AR,88.75,clear sky,-43.3002,-65.1023,
31,Bambous Virieux,MU,78.22,broken clouds,-20.3428,57.7575,
32,Atuona,PF,78.04,few clouds,-9.8000,-139.0333,
33,Cape Town,ZA,80.28,clear sky,-33.9258,18.4232,

In [11]:
import numpy as np
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        #hotel_df.loc[index, "Hotel Name"] = np.NaN
        print("Hotel not found... skipping.")
print("Complete")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Complete

In [12]:
hotel_df.count()

City                   203
Country                203
Max Temp               203
Current Description    203
Lat                    203
Lng                    203
Hotel Name             203
dtype: int64

In [13]:
hotel_df.head(25)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
4,Mahebourg,MU,78.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
14,Butaritari,KI,80.78,moderate rain,3.0707,172.7902,Isles Sunset Lodge
18,Rikitea,PF,77.49,light rain,-23.1203,-134.9692,People ThankYou
25,Bluefields,NI,84.27,broken clouds,12.0137,-83.7635,Nicaraguan Typical House Downtown
28,Rawson,AR,88.75,clear sky,-43.3002,-65.1023,Hosteria Sampedro
31,Bambous Virieux,MU,78.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
32,Atuona,PF,78.04,few clouds,-9.8000,-139.0333,Villa Enata
33,Cape Town,ZA,80.28,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
36,Kahului,US,75.85,clear sky,20.8947,-156.4700,Maui Seaside Hotel
39,Charters Towers,AU,78.66,few clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
42,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
45,Mokobeng,BW,77.88,overcast clouds,-22.9965,27.6678,Omphile B. Molefhe
46,Raga,SS,80.17,broken clouds,8.4596,25.6780,
53,Saint-Philippe,RE,77.22,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
55,Inhambane,MZ,78.78,few clouds,-23.8650,35.3833,Oceano
60,Bandarbeyla,SO,76.55,scattered clouds,9.4942,50.8122,JABIR HOTEL
62,Nioro,GM,85.64,clear sky,13.3500,-15.7500,
63,Arraial Do Cabo,BR,78.66,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
68,Chuy,UY,75.99,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
69,Key Biscayne,US,84.02,broken clouds,25.6937,-80.1628,"The Ritz-Carlton Key Biscayne, Miami"
72,Prestea,GH,80.13,broken clouds,5.4327,-2.1428,Garden Hill Hotel
74,Itarema,BR,84.56,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
78,Praya,CV,75.74,broken clouds,14.9215,-23.5087,LT Aparthotel

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace("", np.NaN, inplace= True)
hotel_df.head(25)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
4,Mahebourg,MU,78.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
14,Butaritari,KI,80.78,moderate rain,3.0707,172.7902,Isles Sunset Lodge
18,Rikitea,PF,77.49,light rain,-23.1203,-134.9692,People ThankYou
25,Bluefields,NI,84.27,broken clouds,12.0137,-83.7635,Nicaraguan Typical House Downtown
28,Rawson,AR,88.75,clear sky,-43.3002,-65.1023,Hosteria Sampedro
31,Bambous Virieux,MU,78.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
32,Atuona,PF,78.04,few clouds,-9.8000,-139.0333,Villa Enata
33,Cape Town,ZA,80.28,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
36,Kahului,US,75.85,clear sky,20.8947,-156.4700,Maui Seaside Hotel
39,Charters Towers,AU,78.66,few clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
42,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
45,Mokobeng,BW,77.88,overcast clouds,-22.9965,27.6678,Omphile B. Molefhe
46,Raga,SS,80.17,broken clouds,8.4596,25.6780,NaN
53,Saint-Philippe,RE,77.22,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
55,Inhambane,MZ,78.78,few clouds,-23.8650,35.3833,Oceano
60,Bandarbeyla,SO,76.55,scattered clouds,9.4942,50.8122,JABIR HOTEL
62,Nioro,GM,85.64,clear sky,13.3500,-15.7500,NaN
63,Arraial Do Cabo,BR,78.66,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
68,Chuy,UY,75.99,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
69,Key Biscayne,US,84.02,broken clouds,25.6937,-80.1628,"The Ritz-Carlton Key Biscayne, Miami"
72,Prestea,GH,80.13,broken clouds,5.4327,-2.1428,Garden Hill Hotel
74,Itarema,BR,84.56,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
78,Praya,CV,75.74,broken clouds,14.9215,-23.5087,LT Aparthotel

In [15]:
hotel_df.count()

City                   203
Country                203
Max Temp               203
Current Description    203
Lat                    203
Lng                    203
Hotel Name             184
dtype: int64

In [16]:
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
4,Mahebourg,MU,78.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
14,Butaritari,KI,80.78,moderate rain,3.0707,172.7902,Isles Sunset Lodge
18,Rikitea,PF,77.49,light rain,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
689,Sao Joao Da Barra,BR,75.29,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
694,Labuhan,ID,77.29,overcast clouds,-6.8844,112.2051,DoubleFAG
700,Praia,CV,75.74,broken clouds,14.9215,-23.5087,LT Aparthotel
701,Tamandare,BR,83.05,scattered clouds,-8.7597,-35.1047,Pousada 100 Passos
702,Miramar,US,84.97,broken clouds,25.9873,-80.2323,Casa Miramar

In [17]:
clean_hotel_df.count()

City                   184
Country                184
Max Temp               184
Current Description    184
Lat                    184
Lng                    184
Hotel Name             184
dtype: int64

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/Ruth/OneDrive/Desktop/Class_Work/Module_6/HW6_Submission_Python_APIs/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt> Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.

max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Save the figure.
#fig.savefig("Vacation_Search/WeatherPy_vacation_map.png")

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))